{% extends 'base.html'%}
{%block main%}
<style type="text/css">
.bgimg {
    background-image: url('/static/intro-section-pattern.png');
}

	paslaugos {height: 600px; }

</style>
<body>
<<div class="container">
    <br>
    <p align="center" style="color:gray">Žemiau pateikiamos paslaugų grupės, kuriose mes galime jums padėti.</p>
    <h2 align="center">Šildymas</h2>
    <li>Oras-Oras sistemos parinkimas</li>
    <li>Oras-Oras sistemos montavimas</li>
    <li>Šildymo sistemų priežiūra</li>

</div>
</body>
{%endblock main%}