{%extends 'base.html'%}
{%block main%}
<h1>Rekomenduojame įsigyti produktus.</h1>
<div class="container">
  <div class="row" height="100px">
    <div class="col">
      <p>1</p>
      <a target="_blank" href="https://eur.vevor.com/diesel-heater-c_10321/vevor-diesel-air-heater-all-in-one-12v-8kw-bluetooth-app-lcd-for-car-rv-indoors-p_010876414069?lang=en&currency=EUR?utm_source=inhouse&utm_medium=affiliate&utm_campaign=76392967&shortkey=20231121fyuz" title="VEVOR Diesel Air Heater All-in-one 12V 8KW Bluetooth App LCD for Car RV Indoors">
        <img src="https://image.vevor.com/us%2FZCJRQLS12V8KWCO9JV9%2Fgoods_img-v3%2Fdiesel-heater-m100-1.2.jpg?timestamp=1688437482000" width="400" height="250" alt="VEVOR Diesel Air Heater All-in-one 12V 8KW Bluetooth App LCD for Car RV Indoors" title="VEVOR Diesel Air Heater All-in-one 12V 8KW Bluetooth App LCD for Car RV Indoors"/>
        <br/>VEVOR Diesel Air Heater All-in-one 12V 8KW Bluetooth App LCD for Car RV Indoors</a><br><p>Kaina: <b>129.99€</b></p>
    </div>
    <div class="col">
      <a target="_blank" href="https://www.vevor.com/topside-creeper-c_10345/vevor-foldable-topside-creeper-easy-engine-access-creeper-for-garage-or-workshop-p_010930406748?lang=en&currency=usd?utm_source=inhouse&utm_medium=affiliate&utm_campaign=76392967&shortkey=20231121fyuD" title="VEVOR Topside Automotive Engine Creeper, Adjustable Height Foldable Topside Creeper, 400LBS Capacity High Top Engine Creeper, w/Four Casters, Padded Deck, for Home Garage, Workshop Repair Maintenance">
        <img src="https://image.vevor.com/us%2FHSKZDQCFDJXLCFLNIV0%2Fgoods_img-v7%2Ffoldable-topside-creeper-m100-1.2.jpg?timestamp=1626864708000" width="400" height="250" alt="VEVOR Topside Automotive Engine Creeper, Adjustable Height Foldable Topside Creeper, 400LBS Capacity High Top Engine Creeper, w/Four Casters, Padded Deck, for Home Garage, Workshop Repair Maintenance" title="VEVOR Topside Automotive Engine Creeper, Adjustable Height Foldable Topside Creeper, 400LBS Capacity High Top Engine Creeper, w/Four Casters, Padded Deck, for Home Garage, Workshop Repair Maintenance"/><br/>VEVOR Topside Automotive Engine Creeper, Adjustable Height Foldable Topside Creeper, 400LBS Capacity High Top Engine Creeper, w/Four Casters, Padded Deck, for Home Garage, Workshop Repair Maintenance $119.99</a>
    </div>
    <div class="col">
      <a target="_blank" href="https://www.vevor.com/carports-c_12018/vevor-carport-heavy-duty-12x20ft-car-canopy-outdoor-garage-shelter-with-removable-sidewalls-roll-up-ventilated-windows-door-uv-resistant-waterproof-all-season-tarp-for-car-truck-boat-darkgray-p_010509782894?lang=en&currency=usd?utm_source=inhouse&utm_medium=affiliate&utm_campaign=76392967&shortkey=20231121fyuG" title="VEVOR Carport, Heavy Duty 12x20ft Car Canopy, Outdoor Garage Shelter with Removable Sidewalls, Roll-up Ventilated Windows & Door, UV Resistant Waterproof All-Season Tarp for Car, Truck, Boat, Darkgray">
        <img src="https://image.vevor.com/us%2FFBSJS812X20FTJ5VCV0%2Fgoods_img-v1%2Fcar-canopy-m100-1.2.jpg?timestamp=1678852500000" width="400" height="250" alt="VEVOR Carport, Heavy Duty 12x20ft Car Canopy, Outdoor Garage Shelter with Removable Sidewalls, Roll-up Ventilated Windows & Door, UV Resistant Waterproof All-Season Tarp for Car, Truck, Boat, Darkgray" title="VEVOR Carport, Heavy Duty 12x20ft Car Canopy, Outdoor Garage Shelter with Removable Sidewalls, Roll-up Ventilated Windows & Door, UV Resistant Waterproof All-Season Tarp for Car, Truck, Boat, Darkgray"/>
        <br/>VEVOR Carport, Heavy Duty 12x20ft Car Canopy, Outdoor Garage Shelter with Removable Sidewalls</a><p>Kaina: <b>$329.99</b></p>
    </div>
    <div class="col">
      <p>4</p>
    </div>
  </div>
</div>

{%endblock main%}